$nette-cookie-bar-padding:              6px 0 !default;
$nette-cookie-bar-font-size:            rem(13) !default;
$nette-cookie-bar-bg:                   $black !default;
$nette-cookie-bar-color:                $white !default;
$nette-cookie-bar-z:                    1000 !default;

$nette-cookie-bar-structure: (
    default
) !default;


@if index($nette-cookie-bar-structure, default) {
    .nette-cookie-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: $nette-cookie-bar-z;
        width: 100%;
        padding: $nette-cookie-bar-padding;
        font-size: $nette-cookie-bar-font-size;
        text-align: center;
        color: $nette-cookie-bar-color;
        background-color: $nette-cookie-bar-bg;
        p {
            margin: 0;
        }
    }
}
